<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Timer
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <div class="progress-wrapper" padding>
      <div class="current" text-center>{{(currentScreenMin | numberToString) + ':' + (currentScreenSec | numberToString)}}</div>

      <round-progress class="progress" [rounded]="true" [current]="current" [max]="max" [responsive]="true" [duration]="duration" [clockwise]="clockwise" [animation]="animation"></round-progress>
  </div>
  <ion-grid no-padding>
    <ion-row row-6 text-center>
      <ion-col col-12>
        <button ion-button (tap)="pause()" ion-icon>
          <i class="material-icons" *ngIf="isPaused">play_arrow</i>
          <i class="material-icons" *ngIf="!isPaused">pause</i>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button class="leave-btn" ion-button block (tap)="stop()">
    WANNA LEAVE ?
  </button>
</ion-content>
