page-home {
    .range{
        background-color: white;
    }
    .header-range{
        background-color: #ececec;
    }
    .time-picker{
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
    }
}
